.*

.vscode/*
!.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

build

/apps
/bin
/backups
/db
/docs
/extras
/lib
/licenses
/log
/static

/*.properties
!/gradle.properties

/launcher.jar
/passwd
/start.*
